<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-tw" xml:lang="zh-tw">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="傳訊光科技 萬用後台 後台管理" />
<meta name="description" content="傳訊光科技 萬用後台 管理網頁頁面" />
<meta http-equiv="agetoolbar" content="no" />
<title>紅點後臺</title>
<link href="../css/all.css" rel="stylesheet" type="text/css" />
<link href="../css/admin.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">
  <div id="header">
  <div id="company"><strong>某某某公司</strong>

  </div>
  <div id="welcome">
  <ul>
    <li class="welcomePerson">歡迎你！<strong>某某某</strong></li>    
      <li class="password"><a href="#">修改密碼</a></li>
      <li class="change"><a href="#">修改資料</a></li>
      <li class="out"><a href="#">退出</a></li>
    </ul>
    </div>
  </div>
  
  <div id="content">
  <div id="navi"> 
  <div class="upBar"></div>
  <div class="backStage">後臺首頁</div>
    <ul>
     <li><a href="#">公司簡介</a></li>
      <li><a href="../product-1.html">商品管理</a></li>
      <li><a href="../form.html">回函表</a></li>
      <li><a href="../ad.html">廣告管理</a></li>
      <li><a href="../qa.html">問答管理</a></li>
      <li><a href="../memAdmin.html">會員管理</a></li>
    </ul>
    <div class="downBar"></div>
    </div>
  <div class="bar"></div>
  <div id="subnavi">
  <div class="upBar1"></div>
  <div class="choose">
    <ul>
      <li class="choose60"> <input type="submit" name="button1" id="button1" class="buttonBg" value="新增類別" /></li>
      <li> <input type="submit" name="button2" id="button2" class="buttonBg" value="全選" /></li>
      <li class="sortright"> <input type="submit" name="button4" id="button4" class="buttonBg" value="排序" /></li>
    </ul>
  </div>
  <div id="middle"> 
  <div id="delete">
    <ul>
      <li>
        <input type="checkbox" name="checkbox9" id="checkbox9" />
        <label for="checkbox9"></label>
      </li>
      <li>
        <input type="checkbox" name="checkbox11" id="checkbox11" />
        <label for="checkbox11"></label>
      </li>
      <li>
        <input type="checkbox" name="checkbox12" id="checkbox12" />
        <label for="checkbox12"></label>
      </li>
            <li>
        <input type="checkbox" name="checkbox13" id="checkbox13" />
        <label for="checkbox13"></label>
      </li>
            <li>
        <input type="checkbox" name="checkbox14" id="checkbox14" />
        <label for="checkbox14"></label>
      </li>
            <li>
        <input type="checkbox" name="checkbox15" id="checkbox15" />
        <label for="checkbox15"></label>
      </li>
            <li>
        <input type="checkbox" name="checkbox16" id="checkbox16" />
        <label for="checkbox16"></label>
      </li>
                  <li>
        <input type="checkbox" name="checkbox17" id="checkbox17" />
        <label for="checkbox17"></label>
      </li>
    </ul>
    </div>
    <ul id="class">
      <li>
        <input type="checkbox" name="checkbox" id="checkbox" />
        <label for="checkbox"></label>
        商品類別
        <label  for="textfield7"></label><input class="sort01" name="textfield7" type="text" id="textfield7" size="3" />

<ul class="aClass">      
          <li>
            <input type="checkbox" name="checkbox2" id="checkbox2" />
            <label for="checkbox2"></label>
            我是次主題
            <label  for="textfield8"></label><input class="sort01" name="textfield8" type="text" id="textfield8" size="3" />
            </li>
          <li>
            <input type="checkbox" name="checkbox3" id="checkbox3" />
            <label for="checkbox3"></label>
          我是次主題
              <input class="sort01" name="textfield9" type="text" id="textfield9" size="3" />
            </li>
        </ul>
      </li>
      <li>
        <input type="checkbox" name="checkbox4" id="checkbox4" />
        <label for="checkbox4"></label>
        我主題裡有
        <input class="sort01" name="textfield10" type="text" id="textfield10" size="3" />
        <ul>
          <li class="add">
            <input type="checkbox" name="checkbox5" id="checkbox5" />
            <label for="checkbox5"></label>
            我主題裡有
            <input class="sort01" name="textfield11" type="text" id="textfield11" size="3" />
            <ul>
              <li>
                <input type="checkbox" name="checkbox6" id="checkbox6" />
                <label for="checkbox6"></label>
                我是次主題                
                <input class="sort01" name="textfield12" type="text" id="textfield12" size="3" /></li>
              <li>
                <input type="checkbox" name="checkbox7" id="checkbox7" />
                <label for="checkbox7"></label>
                我是次主題
                <input class="sort01" name="textfield13" type="text" id="textfield13" size="3" /></li>
            </ul>
          </li>
          </ul>
      </li>
      <li>
        <input type="checkbox" name="checkbox8" id="checkbox8" />
        <label for="checkbox8"></label>
        我主題裡沒有
        <input class="sort01" name="textfield14" type="text" id="textfield14" size="3" /></li>
    </ul>
    <div class="subnaviButton">
      <ul>
        <li><input type="submit" name="button2" id="button5" class="buttonBg" value="啟用" /></li>        
        <li><input type="submit" name="button2" id="button6" class="buttonBg" value="暫停" /></li>
        <li><input type="submit" name="button2" id="button7" class="buttonBg" value="刪除" /></li>
      </ul>

      </div>  <div class="downBar"></div>    
  </div>
    
      
    </div>
   <div class="bar"></div>
  <div id="subcontent"> 
   <div class="upBar1"></div>
  <div id="subsubcontent">
<div id="menu2">
    <ul>
      <li><input type="submit" name="button5" id="button8" class="buttonBg"value="大項管理" /></li>
      <li><input type="submit" name="button5" id="button9" class="buttonBg"value="權限設定" /></li>
      <li><input type="submit" name="button5" id="button10" class="buttonBg"value="本站定義" /></li>
      <li><input type="submit" name="button11" id="button5" class="buttonBg"value="版型調整" /></li>
    </ul>
</div>
 <div class="middleLine"></div>
 <div class="twoTable">
       <div class="firstTd blue50">編輯內容</div>
       <div class="secondTd tdInput"> 
  <label for="textfield3"></label>
          <input name="textfield3" type="text" id="textfield3" size="20" /></div></div>
 <div class="middleLine"></div>
<div class="twoTable">
       <div class="firstTd blue50">類別名稱</div>
       <div class="secondTd tdInput"><label for="textfield2"></label>
          <input name="textfield2" type="text" id="textfield2" size="40" />   
      </div></div>
<!-------------------------------------右邊的DIV---------------------------------------------  -->  
               <!----------------------------公司Logo------------------------- -->  
  <div id="contentRight">
  <div id="first">
        <div class="blue">公司Logo</div>
        <div class="PicRight">
         <div class="mainPic200"><img src="../Public/Images/logoIn/logo.png" width="200" height="150" alt="mainPic" /></div>
         <p>&nbsp;</p>
         <p>
           <label for="fileField2"></label>
           <input name="fileField2" type="file" id="fileField2" size="20" />
         </p>
         <p>&nbsp;</p>
<div class="dpi">請上傳400*400圖檔72dpi</div>
         </div>
         </div>
 　　　　　　　　　　　　　 <!----------------------------傳訊光--------------------------->  
 　　　<div id="second">
     <div class="blue">傳訊光</div>
 <div class="PicRight">
         <div class="mainPic200"><img src="../Public/Images/logoIn/logo.png" width="200" height="150" alt="mainPic" /></div>
         <p>&nbsp;</p>
         <p>
           <label for="fileField2"></label>
           <input name="fileField2" type="file" id="fileField2" size="20" />
         </p>
         <p>&nbsp;</p>
 <div class="dpi">請上傳400*400圖檔72dpi</div>

         </div>
   </div>
 
  </div>
  
    <!---------------------------------------程式名稱------------------------------------------------->
  <div id="middle">
<div class="twoTable">
       <div class="firstTd blue">程式名稱</div>
       <div class="secondTd tdInput"><label for="textfield"></label>
      <input name="textfield" type="text" id="textfield" size="20" /></div></div>
  <p>帳號：
    <label for="textfield4"></label>
    <input name="textfield4" type="text" id="textfield4" size="15" />
  </p>
  <p>密碼：
    <label for="textfield5"></label>
    <input name="textfield5" type="text" id="textfield5" size="15" />
    <input type="submit" name="button3" id="button" value="登入" />
  </p>
  <p>忘記密碼?　帳號
    <label for="textfield6"></label>
    <input name="textfield6" type="text" id="textfield6" size="10" />
    <input type="submit" name="button6" id="button2" value="送出" />
  </p>
</div>
  
  <!---------------------------------------------------------------------------------------------->
<div class="con1 blue50">公司形象圖</div>
<div class="con2">
 <div class="mainPic"><img src="../Public/Images/logoIn/logo.png" width="80" height="80" alt="mainPic" /></div>
 <p>
   <label for="fileField"></label>
  <input name="fileField" type="file" id="fileField" size="20" />
</p>
<p>&nbsp;</p>
<div class="dpi">請上傳400*400圖檔72dpi</div>
</div>
<div class="twoTable">
       <div class="firstTd blue">目前最適瀏覽器</div>
       <div class="secondTd tdInput">1024*768</div></div>
<div class="con3"><p class="blue70">傳訊光網站連結</p>
<p><a href="http://www.photonic.com.tw">www.photonic.com.tw</a></p>
<p><a href="http://sprlight.net/index.html">www.sprlight.net/index.htm</a></p></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="modify">文字編輯器</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="send">
 
<input type="submit" name="button" id="button12" class="buttonBg" value="確定送出" />
</div>
<div class="downBar"></div>

  </div>
  </div>
  </div>
  <div id="footer">Powered by photonic </div>
</div>
</body>
</html>
