<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>紅點後臺登入</title>
<link href="../css/all.css" rel="stylesheet" type="text/css" />
<link href="../css/logoIn.css" rel="stylesheet" type="text/css" />
<script src="../SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
<script src="../SpryAssets/SpryValidationPassword.js" type="text/javascript"></script>
</head>

<body>
<div id="main">
<div id="main1">
<div class="mainPic"><img src="../Public/Images/logoIn/logo.png" width="400" height="400" alt="logo" /></div>
<div id="upPic"><img src="../Public/Images/logoIn/logo190.png" width="190" height="70" alt="upPic" /></div>
<div id="logoIn">
<div class="company">傳訊光科技股份有限公司</div>
   <p>帳號：
     <label for="textfield"></label>
     <input name="textfield" type="text" id="textfield" size="２０" />
<input type="submit" name="button3" id="button3" class="buttonBg" value="登入" />
   </p>
   <p>密碼：
     <label for="textfield2"></label>
     <input name="textfield2" type="text" id="textfield2" size="２１" />
   <p>忘記密碼?　帳號
     <label for="textfield3"></label>
     <input name="textfield3" type="text" id="textfield3" size="１０" />
<input type="submit" name="button" id="button" class="buttonBg" value="送出" />
   </p>
  </div>
  <div id="downPic"><img src="../Public/Images/logoIn/logo190.png" width="190" height="70" alt="upPic" /></div>
  </div>
  <div class="browse">最適瀏覽 ：1024*768</div>
  </div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<script type="text/javascript">
var sprytextfield1 = new Spry.Widget.ValidationTextField("sprytextfield1");
var sprypassword1 = new Spry.Widget.ValidationPassword("sprypassword1");
var sprytextfield2 = new Spry.Widget.ValidationTextField("sprytextfield2");
</script>
</body>
</html>
