<include file="Public:header" />
<include file="Public:sider_left" />
<!-----主內容------>
<div class="container">
    <div class="tabTitle">{$parent.title} > <span class="conTitle">更新資料(此為舊系統更新方式)</span></div>
    <div class="Main">
        <form id="loadupdata" action="{:u('Relate/onupdate')}" method="post" enctype="multipart/form-data">
            <font color="red">清單有使用教學，請勿亂上傳檔案</font>
            <br>
            <input type="file" name="pdf" />
            <input type="text" name="title" value="" placeholder="紀錄文字" />
            <input type="button" class="sub" value="更新" />
        </form>
        <br>
        <div class="tableListA">
            <table>
                <tr>
                    <td align="center">代號</td>
                    <td align="center">上傳日期</td>
                    <td align="center">使用日期</td>
                    <td align="center">紀錄</td>
                    <td width="58%" align="center">資料筆數</td>
                    <td align="center">還原</td>
                </tr>
                <volist name="relate" id="post" key="k">
                    <tr>
                        <td align="center">{$k}</td>
                        <td align="center">{$post['start_time']|date="Y/m/d",###}</td>
                        <td align="center">{$post['end_time']|date="Y/m/d",###}</td>
                        <td align="center">{$post['content']}</td>
                        <td align="center">{$post['scroll']}</td>
                        <td align="center">
                            <form id="backdata" method="post" enctype="multipart/form-data">
                                <input type="hidden" value="{$post['id']}" name="id" />
                                <input type="button" class="back_b" value="還原" />
                            </form>
                        </td>
                    </tr>
                </volist>
            </table>
        </div>
    </div>
    <!-----主內容 end------>
    <include file="Public:footer" />
    <script>
    $('.sub').click(function() {

        $("#loadupdata").ajaxSubmit({
            //dataType:'script',
            type: 'post',
            url: "{:u('Relate/onupdate')}",
            beforeSubmit: function() {
                $('.loading').css('display', 'block');
            },
            success: function(data) {console.log(JSON.stringify(data));
console.log(data);
                alert("更新成功");
                window.location.reload();

            },
            error: function(data) {console.log(JSON.stringify(data));
console.log(data);
                alert("更新失敗");
//console.log(JSON.stringify(data));
                window.location.reload();

            },
            resetForm: false,
            clearForm: false
        });
    });

    $('.back_b').click(function() {



        $("#backdata").ajaxSubmit({
            //dataType:'script',
            type: 'get',
            url: "{:u('Relate/onback')}",
            beforeSubmit: function() {
                $('.loading').css('display', 'block');
            },
            success: function(data) {
                console.log(JSON.stringify(data));
                console.log((data));
                alert("還原成功");
                window.location.reload();

            },
            error: function(data) {console.log(JSON.stringify(data));
                console.log((data));
                alert("還原失敗");
                window.location.reload();

            },
            resetForm: false,
            clearForm: false
        });
    });
    </script>
    </body>

    </html>
