<include file="Public:header" />
<include file="Public:sider_left" />
<!-----主內容------>
<div class="container">
    <div class="tabTitle">{$parent.title} > <span class="conTitle">更新教學</span></div>
    <div class="Main">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Fhn-MtBMhL0" frameborder="0" allowfullscreen></iframe>
        <ul class="telist">
            <li>1.安裝 <a href="/__PUBLIC__/download/dopdf.exe">dopdf</a> 軟體</li>
            <li>2.將dopdf設為預設印表機</li>
            <li>3.調整喜好設定為
                <font color="red"> A1 </font>跟
                <font color="red"> 橫式</font>
            </li>
            <li>4.進學生入口 選課管理系統/課程索引/</li>
            <li>5.選擇現在學期資料 送出</li>
            <li>6.調整欄位寬度 資料越多開越大
                <font color="red"> (重要 沒調整正確 會失敗)</font>
            </li>
            <li>7.按列印</li>
            <li>8.選擇下載位置 之後按ok 稍等一下即可下載成功</li>
            <li>9.選擇下載位置 之後按ok</li>
            <li>10.檢查重疊資料 如下圖就會失敗:</li>
            <li><img src="__PUBLIC__/images/sample.png" /></li>
            <li>11.上傳 稍等一下即可完成更新課程資料</li>
        </ul>
    </div>
    <!-----主內容 end------>
    <include file="Public:footer" />
    <script src="http://malsup.github.io/jquery.form.js"></script>
    <script>
    </script>
    </body>

    </html>
