<include file="Public:header" />
<include file="Public:sider_left" />
<!-----主內容------>
<div class="container">
    <div class="tabTitle">{$parent.title} > <span class="conTitle">更新教學</span></div>
    <div class="Main">
<iframe width="560" height="315" src="https://www.youtube.com/embed/fgD-fp8UWpk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
    <!-----主內容 end------>
    <include file="Public:footer" />
    <script src="http://malsup.github.io/jquery.form.js"></script>
    <script>
    </script>
    </body>

    </html>
